.label {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  border-radius: 28px;
  padding: 4px 14px;
  background: #fee2e2;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #b91c1c;
}
